# HostedShop gitignore #
########################
.DS_Store?
.DS_Store
ehthumbs.db
Icon?
Thumbs.db
._*
.*
Gemfile.lock
sftp-config*.json
node_modules
package-lock.json
dist
# Sass #
########
.sass-cache
*.map
source/css/
source/js/chicago/chicago.min.js
_vars.scss
modules/framework/print/layout/print.css
*.sh
*.php
assets/css/chicago.css
assets/css/chicago.css.map
assets/js/chicago.min.js
# Yarn #
########
yarn.lock
.dio
yarn-error\.log
